
:root{
    --cor-de-fundo: #0c0f0b;
    --branco-principal: #f0f7eb;
    --fundo-degrade: #141514,#47eb1e;
}

header{
    display: flex;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 15px;
    text-align: justify; 
}

.cabecalho__logo{
    width: 10%;
    padding: 1em;
}

.cabecalho__texto{
    font-size: 15px;
}

.tema{
    background: linear-gradient(hsl(100, 39%, 5%),#150e0a);
    display: inline-flex;    
}

.imagem__1{
    margin: 2em;
    width: 100%;
}

.imagem__2{
    width: 50%;
    margin: 5em;  
}

.texto{
    display: inline-block;
    text-align: center;
    margin: 2em;
}

.tema__titulo{
    color: var(--branco-principal);
    font-size: 50px;
}

.tema__descricao{
    color: var(--branco-principal);
    font-size: 25px;
    margin: 4em;
}


@media screen and (min-width: 820px) {
    
}

@media screen and (min-width: 1024px) {
   
}